.slide{
      width: 250px;
      font-size: 12px;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column; 
      position: relative;
}
.badge{
   position: absolute;
   background: #fff;
   color: #000;
   padding: .5rem 1rem;
   box-shadow: 1px 3px 3px #000;
   border: 1px solid #000;
   border-radius: 15px;
   font-weight: 600;
   left: 20px;
   top: 10px;
}
.rtdimg{
   width: 100%;
   height: auto;
   margin: 0;
   padding: 0;
}
.ratings{
   width: 100%;
   height: auto;
   display: flex;
   gap: 3px;
   align-items: center;
}
.star{
   width: 35px;
   height: auto;
   margin: 0;
}
span{
   font-weight: 500;
   margin-top: 5px;
   align-self: center;
}
.grey{
   color: #918E9B;
   
}
.sold{
   position: relative;
   top: 3px;
}
.black{
   font-weight: 700;
   color: #000;
}