.gallery{
   padding: 2rem 0;
   display: grid;
}
.gallery > img{
   width: 80%;
   max-width: 1000px;
   height: auto;
   margin: auto;
}
.gtext{
   margin: 1rem 0;
}
.gtext > h1{
   color: #000;
   font-size: 36px;
   font-weight: 700;
}
.gtext > p{
   font-size: 18px;
   width: 50%;
}
/* .image1{
   grid-row: 2;
   align-self: flex-end;
}
.image2{
   grid-column: 2;
   grid-row: 1;
}
.image3{
   grid-row: 2;
   grid-column: 2;
}
.image4{
   grid-row: 1;
   grid-column: 3;
}
.image5{
   grid-row: 2;
   grid-column: 3;
}
.image6{
   grid-row: 1;
   grid-column: 4;
}
.image7{
   grid-row: 2;
   grid-column: 4;
}
.image8{
   grid-row: 1;
   grid-column: 5;
}
.image9{
   grid-row: 2;
   grid-column: 5;
} */
/* ====== MEDIA QUERIES ====== */

@media(max-width:500px){
   /* .gallery{
      padding: 2rem;
      display: grid;
      grid-gap: .5rem;
   } */
   .gallery > img{
      width: 100%;
   }
   .gtext{
      width: 100%;
      margin: 1rem auto;
   }
   .gtext > h1{
      font-size: 30px;
   }
   .gtext > p{
      font-size: 16px;
      width: 100%;
   }
}